*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
 
}
h1,h2{
    color: #606d5f;
}
p,li,a,button{
    color: #888888;
}
p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: normal;
    font-size: normal;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style-type: none;
}
button {
    padding: 1rem 3rem;
    border-radius: 20px;
    border: none;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}
/* --------------------Header section---------------- */
header {
    padding: 0 20rem;
    width: 100%;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
}
header nav .logo {
    font-size: 3rem;
}
header nav .menu ul {
    display: flex;
}
header nav .menu a {
    margin-left: 4rem;
    font-size: 2rem;
    line-height: 3.6rem;
    text-transform: capitalize;
}