*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-family: "Poppins", sans-serif;
 
}
h1,h2,h3{
    color: #606d5f;
}
h3{
    font-weight: 750;
    font-size: 2.2rem;
    text-transform: capitalize;
}
p,li,a,button{
    color: #888888;
}
p{
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: normal;
    font-size: normal;
}
a{
    text-decoration: none;
    cursor: pointer;
}
li{
    list-style-type: none;
}
button {
    padding: 1rem 3rem;
    border-radius: 20px;
    border: none;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}
/* --------------------Header section---------------- */
header {
    padding: 0 20rem;
    width: 100%;
}
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12rem;
}
header nav .logo {
    font-size: 3rem;
}
header nav .menu ul {
    display: flex;
}
header nav .menu a {
    margin-left: 4rem;
    font-size: 2rem;
    line-height: 3.6rem;
    text-transform: capitalize;
    transition: all 0.2s;
}
header nav .menu a:hover {
    color: #4b709e;
}
/* -----Nav css End---------- */
/* ------Hero Section-------- */
.hero-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20rem;
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
}
/* hero left */
.hero-content {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.hero-content h1{
    width: 40rem;
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-transform: capitalize;
}
.hero-content p {
    width: 45rem;
    margin-bottom: 3rem;
}
/* right side */

.hero-img  {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img img {
    width: 100%;
}
/* ---------Hero Section End--------  */
.products-section{
    padding: 0 20rem;
    width: 100%;
    height: 100%;
    margin-bottom: 20rem;
}
.products-section h1{
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: capitalize;
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-items: center;

}
.products-card {
    width: 25rem;
    height: 25rem;
    background-color: #efefef;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    margin-bottom: 2rem;
}
.products-card img {
    width: 80%;
    border-radius: 50%;
}
.buy-btn {
    background-color: #fff;
    border: 2px solid #efefef;
    padding: 1rem 2rem;
    border-radius: 1rem;
    line-height: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
}